<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<script type="text/javascript">

</script>
</head>
<meta charset="ISO-8859-1">
<title>Add details</title>
<link rel="stylesheet" type="text/css" href={{url_for('static',filename='mainstyle.css',v=0.01)}}>
<body>
<header id="header">
			<div id="logo">
				<h1>Home</h1>
				<label class="logoutLblPos">
			<img src="static/logout.png" onclick="window.location.href='/logout'" height="60%" width="60%" id="img">
  </label>
			</div>
</header>
	<nav id="nav">
			<div class="innertube">
				<h2>Customer</h2>
				<ul>
					<li><a href="/homepage">Home</a></li>	
				</ul>
			</div>
</nav>
		
           <main>
<form action="/sendmail/{{o_id}}" method="POST">
<div class="tube">
<div class="form-style-2">

<div class="form-style-2-heading">Fill your details</h2></div>

<label><span>Name:<font color="red">*</font></span>
<input type="text" class="input-field" name="fname" id="fname" value= {{cont.fname}} required autofocus  readonly="readonly"></label>

<label><span>Mobile Number:<font color="red">*</font></span>
<input type="number" class="input-field" name="mobilenumber" id="mobilenumber" value= {{cont.mobile_no}} required autofocus  readonly="readonly"></label>

<label><span> Email Id:<font color="red">*</font></span>
<input type="email" class="input-field" name="email" id="email" value= {{cont.email}} required autofocus readonly="readonly"></label>

<label><span>Address:<font color="red">*</font></span>
<input type="text" class="input-field" name="address" id="address" onkeyup="this.value=this.value.substring(0,1).toUpperCase() + this.value.substring(1)" required autofocus></label>

<label><span>Job:<font color="red">*</font></span>
<input type="text" class="input-field" name="job" id="job" onkeyup="this.value=this.value.substring(0,1).toUpperCase() + this.value.substring(1)" required autofocus></label>

<label><span>Age:<font color="red">*</font></span>
<input type="number" class="input-field" name="age" id="age" required autofocus></label>

<label><span>Number of members:<font color="red">*</font></span>
<input type="number" class="input-field" name="fammem" id="fammem" required autofocus></label>
<br>
<div class="button">
<input type="submit" value="Add"/></label></div>
</div>
</div>
</main>
</body>
</html>
