<a  class="btn-signup">Sign Up</a>

transition: all .5s ease;


transition: opacity .5s ease, transform .5s ease;

transition: all .5s ease;

pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"

<div class="btn-animate">
            <a class="btn-signin" href="home.html">Sign in</a> 
          </div>
 <input type="checkbox" id="checkbox"/>
          
          <div class="btn-animate">
            <a class="btn-signin">Save</a>
          </div>
          
          
          
          <h3 class="about">
      <span style="font-size:120%; color:#ffffff;">  Mobile Number -</span>
      <span style="font-size:120%; color:#99ffff;"> {{i.mobile_no}}
      </span> <br>
       </h3>
       <h3 class="about">
      <span style="font-size:120%; color:#ffffff;">  Secondary Number -</span>
       <span style="font-size:120%; color:#99ffff;"> {{i.s_no}}
      </span>
      <br>
       </h3>
       <h3 class="about">
      <span style="font-size:120%; color:#ffffff;">  EmailId-</span>
     <span style="font-size:120%; color:#99ffff;"> {{i.email_id}}
      </span>
      <br>
       </h3>
       <h3 class="about">
     <span style="font-size:120%; color:#ffffff;">  Gender -</span>
      <span style="font-size:120%; color:#99ffff;"> {{i.gender}}
      </span> 
       </h3>
       <br>